
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
header {
    background: url('../photos/top1.jpg') center center/cover no-repeat;
    width:100%;
    height: 100vh;

}
.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1180px;
    height: 100vh;
    margin: 0 auto;
    
}

.nav {
    box-sizing: border-box;
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
}
.nav-logo {
    background: url(../icons/2-layers.png)center center/contain no-repeat;
    width: 200px;
    height: 100px;
    padding: 21px 0 0 0;
    box-sizing: border-box;
}

.nav-menu-a {
   color: white;
   text-decoration: none;
   cursor: pointer;
   margin: 0 0 0 25px;
   position: relative;
}

.center-slider {
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
p.center-slider-mm {
    color: #ffffff;
    font-family: "Roboto - Condensed";
    font-size: 59px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
    line-height: 30px;
}
p.center-slider-mmm {
    color: #ffffff;
    font-family: "Roboto - Condensed";
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
}
.wrapper2 {
   
    justify-content: center;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    
}
.title {
    padding: 65px 0px;
    box-sizing: border-box;
}
.title h2 {
    margin: 0;
    color: #709dca;
    font-family: "Roboto - Condensed";
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}

.wrapper3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../photos/Rectangle_5.jpg') center center/cover no-repeat;
    width:100%;
    max-width: 1500px;
    margin: 0 auto;
    
    box-sizing: border-box;
}
.group-pic {
    width: 50%;
    background: url('../photos/3_01.jpg')center center/cover no-repeat ;
    
    box-sizing: border-box;
}

.group-text {
    position: relative;
    width: 50%;
    
    padding: 15px 20px 10px 35px;
    box-sizing: border-box;
}
.group-text h3{
    color: #ffffff;
    font-family: "Roboto - Condensed";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42.7px;
    text-align: left;
    box-sizing: border-box;
}
.group-text p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px auto;
    line-height: 25px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    box-sizing: border-box;
}
.button {
   
    width: 184px;
    border: 1px solid #cb8d21;
    background-color: #e7ad48;
    padding: 12px 25px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
    
}
.button a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.wrapper32 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../photos/Rectangle_5.jpg') center center/cover no-repeat;
    width:100%;
    max-width: 1500px;
    margin: 0 auto;
    
    box-sizing: border-box;
}

.group-pic2 {
    width: 50%;
    background: url('../photos/2_02.jpg')center center/cover no-repeat ;
    
    box-sizing: border-box;
}

.group-text2 {
    position: relative;
    width: 50%;
   
    padding: 15px 20px 10px 35px;
    box-sizing: border-box;
}
.group-text2 h3{
    color: #ffffff;
    font-family: "Roboto - Condensed";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42.7px;
    text-align: right;
    box-sizing: border-box;
}
.group-text2 p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px auto;
    line-height: 25px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    box-sizing: border-box;
}

.button2 {
    margin: 0 0 0 auto;
    width: 184px;
    border: 1px solid #cb8d21;
    background-color: #e7ad48;
    padding: 12px 25px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
    
}
.button2 a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.wrapper33 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../photos/Rectangle_5.jpg') center center/cover no-repeat;
    width:100%;
    max-width: 1500px;
    margin: 0 auto;
   
    box-sizing: border-box;
}

.group-pic3 {
    width: 50%;
    background: url('../photos/3_03.jpg')center center/cover no-repeat ;
   
    box-sizing: border-box;
}

.group-text3 {
    position: relative;
    width: 50%;
    
    padding: 15px 20px 10px 35px;
    box-sizing: border-box;
}
.group-text3 h3{
    color: #ffffff;
    font-family: "Roboto - Condensed";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42.7px;
    box-sizing: border-box;
}
.group-text3 p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px auto;
    line-height: 25px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    box-sizing: border-box;
}
.button3 {
    
    width: 184px;
    border: 1px solid #cb8d21;
    background-color: #e7ad48;
    padding: 12px 25px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
    
}
.button3 a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.wrapper34 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url('../photos/Rectangle_5.jpg') center center/cover no-repeat;
    width:100%;
    max-width: 1500px;
    margin: 0 auto;
    
    box-sizing: border-box;
}
.group-pic4 {
    width: 50%;
    background: url('../photos/2_04.jpg')center center/cover no-repeat ;
   
    box-sizing: border-box;
}

.group-text4 {
    position: relative;
    width: 50%;
  
    padding: 15px 20px 10px 35px;
    box-sizing: border-box;
}
.group-text4 h3{
    color: #ffffff;
    font-family: "Roboto - Condensed";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 42.7px;
    text-align: right;
    box-sizing: border-box;
}
.group-text4 p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px auto;
    line-height: 25px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    box-sizing: border-box;
}
.button4 {
    margin: 0 0 0 auto;
    width: 184px;
    border: 1px solid #cb8d21;
    background-color: #e7ad48;
    padding: 12px 25px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
    
}
.button4 a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}


footer {
    margin-top: 100px;
    background: url('../photos/footer.png') center center/cover no-repeat;
    width:100%;
    box-sizing: border-box;
}
.wrapper7 {
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}
.contact-info {
    width: 30%;
    padding: 0 15px;
    box-sizing: border-box;
}
.cont-logo {
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.logoFooter1 {
    width: 40px;
    background: url('../icons/spasskaya-tower.png') center center / contain no-repeat;
    padding: 20px 10px;
}
.textLogoFooter1 {
    color: #ffdb47;
    font-family: "MV Boli";
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 11.75px;
    text-align: center;
}
.offer {
    color: #c3c3c3;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}
.contacts {
    width: 30%;
    padding: 20px 50px 0 100px;
    box-sizing: border-box;
}
.cont-adress {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 25px auto;
}
.contFooter {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(255, 255, 255)
}
.logoFooter2 {
    background: url('../icons/placeholder.png') center center / contain no-repeat;
    padding: 5px;
    margin-right: 15px;
}
.logoFooter3 {
    background: url('../icons/mail.png') center center / contain no-repeat;
    padding: 5px;
    margin-right: 15px;
}
.logoFooter4 {
    background: url('../icons/telephone.png') center center / contain no-repeat;
    padding: 5px;
    margin-right: 15px;
}
.newss {
    width: 30%;
    padding: 0 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.date {
    color: #71b6d5;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}
.copyright {
    margin: 0;
    padding: 0;
    background-color: #172227;
}
.copyright-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    font-size: 13px;
    color: rgb(196, 196, 196);
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.copyright p {
    margin: 25px 5px;
}
.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vk {
    background: white url('../social/vk.png') center center / cover no-repeat;
    padding: 17px;
    margin: auto 2px;
    border-radius: 3px;
}
.facebook {
    background: white url('../social/facebook.png') center center / cover no-repeat;
    padding: 17px;
    margin: auto 2px;
    border-radius: 3px;
}
.instagram {
    background: white url('../social/instagram.png') center center / cover no-repeat;
    padding: 17px;
    margin: auto 2px;
    border-radius: 3px;
}
.maaaar {
    margin: 45px 0 0 0;
}




